body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f0f0;
  color: #2f4f4f;
}

h1 {
  text-align: center;
  color: #2f4f4f;
}

form {
  margin-bottom: 20px;
  background-color: #e0f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: inline-block;
  width: 100px;
  color: #2f4f4f;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  width: calc(100% - 120px);
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #004d4d;
}

#movie-list {
  margin-top: 20px;
}

.movie-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
